html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Merriweather";
  font-weight: normal;
  color: #2a2a2a;
}

.title {
  font-family: "Lora";
  font-size: 8vw;
}

.subtitle {
  font-size: 6vw;
}

@media (min-width: 768px) {
  .title {
    font-size: 5rem;
  }
  .subtitle {
    font-size: 2rem;
  }
}
