:root {
  --gold: #a0945a;
  --white: ghostwhite;
  --gray: #e4e6f2;
  --darkgray: #606060;
  --lightgold: #ede8cc;
  --darkgray: #22222a;
  --red: crimson;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  font-family: "lato";
  font-weight: normal;
  height: 100%;
}

h1 {
  font-family: "lora";
  font-size: 30px;
  font-weight: 100;
}
h2 {
  font-family: "lora";
  font-size: 26px;
  font-weight: 100;
}
h3 {
  font-family: "lora";
  font-size: 22px;
  font-weight: 100;
}
p,
span,
li,
div,
button {
  font-size: 16px;
}
@media (min-width: 300px) {
  h1 {
    font-size: 32px;
  }
}
@media (min-width: 330px) {
  h1 {
    font-size: 36px;
  }
}
@media (min-width: 430px) {
  h1 {
    font-size: 46px;
  }
}
@media (min-width: 668px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 26px;
  }
  p,
  span,
  li,
  div,
  button {
    font-size: 18px;
  }
}
@media (min-width: 1008px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  p,
  span,
  li,
  div,
  button {
    font-size: 20px;
  }
}

figcaption {
  color: var(--darkgray);
  font-size: 14px;
  text-align: center;
}
@media (min-width: 668px) {
  figcaption {
    font-size: 16px;
  }
}
@media (min-width: 668px) {
  figcaption {
    font-size: 18px;
  }
}

.centered {
  display: flex;
  justify-content: center;
  width: 100%;
}
