html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Lato";
  font-weight: normal;
  color: black;
  overflow-x: hidden;
}

h1 {
  font-family: "Lora";
  font-size: 46px;
  font-weight: 100;
}
h2 {
  font-family: "Lora";
  font-size: 20px;
  font-weight: 100;
}
h3 {
  font-family: "Lora";
  font-size: 16px;
  font-weight: 100;
}
p,
span,
li {
  font-size: 12px;
  font-weight: 100;
}

@media (max-width: 478px) {
  h1 {
    font-family: "Lora";
    font-size: 38px;
  }
}
@media (min-width: 668px) {
  h1 {
    font-family: "Lora";
    font-size: 60px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  p,
  span,
  li {
    font-size: 14px;
  }
}
@media (min-width: 1008px) {
  h1 {
    font-family: "Lora";
    font-size: 80px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 22px;
  }
  p,
  span,
  li {
    font-size: 15px;
  }
}

@media (max-width: 300px) {
  h1 {
    font-size: 33px;
  }
}
