.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  height: 20rem;
  border: 1px solid #c4b57a;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  transition: ease-in-out 0.3s;
  max-width: 25rem;
}

.container:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-container-content {
  width: 100%;
  display: flex;
  text-transform: uppercase;
  font-family: "Lato" sans-serif;
  letter-spacing: 0.25rem;
  font-size: 12px;
  justify-content: space-around;
}

.arrow-text {
  font-size: 14px;
  font-family: "Lato" sans-serif;
  font-weight: bolder;
}

.excerpt p {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 95%;
  margin: -0.7rem 0;
}

.date {
  font-size: 12px;
  margin: 0;
}

.title {
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  max-width: 400px;
  margin-top: 1rem;
}
