.name {
  text-transform: uppercase;
  color: #5a5a5a;
  font-family: "Lora";
}

.centered {
  display: flex;
  justify-content: space-around;
}

.content {
  padding: 1rem 2rem;
  max-width: 26rem;
}

.excerpt {
  line-height: 2rem;
}

.image {
  background: url("../../../static/headshot.jpg") no-repeat center center;
  height: auto;
  background-size: cover;
  max-width: 20rem;
  max-height: 20rem;
  margin: 1rem;
}

.image-container {
  display: flex;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 22rem;
  background: linear-gradient(
    to bottom,
    #ffffff,
    #ffffff 15%,
    #dee2e3 15%,
    #dee2e3 85%
  );
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
    max-width: 50rem;
    background: linear-gradient(
      to right,
      #ffffff,
      #ffffff 15%,
      #dee2e3 15%,
      #dee2e3 85%
    );
    min-height: 320px;
  }
  .image-container {
    flex-direction: column;
    justify-content: space-around;
  }
  .image {
    margin: 1rem;
  }
}
