.navigation {
  padding: 1rem 0rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.logo {
  color: black;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
