.container {
  display: flex;
  flex-direction: column;
}

.post-container {
  margin-top: -1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  max-width: 668px;
  justify-content: center;
}

.post-container > * {
  margin: 1rem 1rem 1rem 0rem;
}

@media (min-width: 1008px) {
  .container {
    flex-direction: row;
  }
  .post-container {
    justify-content: left;
  }
}
