.container {
  position: absolute;
  height: 3rem;
  color: white;
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color:  rgba(0, 0, 0, 0.35); 
  bottom: 0;
  left: 0;
  width: 100%;
}
