.container {
  width: 100vw;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.325) 100%
  );
  text-align: center;
  padding: 8rem 0 10rem;
  color: white;
}

.hero-title {
  font-size: 7vw;
  font-weight: lighter;
  font-family: "Lora";
}

.hero-subtitle {
  font-size: 3vw;
  font-weight: lighter;
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 48px;
  }
  .hero-subtitle {
    font-size: 24px;
  }
  .button {
    font-size: 18px;
  }
}

.line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid white;
  padding: 0;
  width: 50%;
  margin: 0 auto;
  margin-top: -1rem;
  max-width: 500px;
}
