footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--white);
  background-color: var(--darkgray);
  width: 100%;
  padding-top: 1rem;
}

.bottom {
  color: #808080;
  text-align: center;
  padding-bottom: 1.25rem;
  max-width: 1008px;
}

.content {
  max-width: 1070px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 0rem;
}
@media (min-width: 668px) {
  .content {
    padding: 2rem 0rem;
  }
}
@media (min-width: 1008px) {
  .content {
    padding: 2.5rem 0rem;
  }
}

.text {
  color: #808080;
  flex: 1;
  width: 60%;
}

.top-paragraph {
  margin-top: 2rem;
}

@media (min-width: 550px) {
  .content {
    flex-direction: row;
  }
  .top-paragraph {
    margin: -1rem;
  }
}

.list {
  padding: 0;
  list-style-type: none;
}

.title {
  text-transform: uppercase;
  margin-bottom: 0;
}

@media (min-width: 668px) {
  .bottom {
    padding-bottom: 1.5rem;
  }
}
