.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 300px) and (min-height: 500px) {
  .title {
    margin-bottom: 2rem;
  }
}

.grid {
  margin: -2rem 0rem 2rem 0rem;
  display: grid;
  grid-template-columns: 45%;
}
@media (max-width: 430px) {
  .grid {
    margin-top: -1rem;
  }
}

.title {
  color: var(--white);
  width: 100%;
  margin-bottom: 2rem;
}

.scroll-container {
  color: var(--white);
  text-transform: uppercase;
  font-family: "Lato";
  letter-spacing: 0.25rem;
  transition: ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2rem;
  text-align: center;
  cursor: pointer;
}

.scroll-container:hover {
  color: var(--gold);
}

.paragraph {
  color: var(--white);
  flex: 1;
  line-height: 1.8;
}
@media (max-width: 330px) {
  .grid {
    grid-template-columns: 75%;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
}
